.header_container 
{
    padding-top: 0;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1; 
    background-color: var(--bs-primary);
    box-shadow: 3px 7px 18px -10px rgba(164, 170, 191, 1);
}

.header_container p {
    color: var(--bs-text-primary);
    font-size: 22px;
} 

.hdc_top {
    /* background-color: var(--bs-primary); */
    
}

.hdc_bottom {
    /* background-color: var(--bs-secondary); */
    background-color: rgba(34, 34, 38, 0.15);
}

.hdc_menu {
    font-size: 12px;
    display: grid;
    grid-auto-flow: column;
}

.hdc_item {
    font-weight: 500;
}

.active {
    border-bottom-width: 5px; 
    border-bottom-style: solid;
    border-color: var(--bs-text-seconadry);
}

.item_icon {
    display: block;
    margin: auto;
}

.item_text {
    margin-top: 4px;
    margin-bottom: 4px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    color: var(--bs-text-primary);
}

.header_icon {
    fill: var(--bs-text-primary);
}

.mat-mdc-form-field  {
    width: 100%;
}
